<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation)
See here for more details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="30 seconds">
    
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="logger.log}"/>
     <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%t] %logger{0} : %m%n%wex"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - ${PID}: %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Specify logging levels -->
    <logger name="org.springframework" level="warn"/>
 	<logger name="org.hibernate" level="warn"/>
         
    <root level="info">
        <appender-ref ref="FILE"/>
        <appender-ref ref="console"/>
    </root>
</configuration>
